.idea/
*.iml
.flattened-pom.xml
*/target/
mybatis-generator/src/main/java/
mybatis-generator/src/main/resources/yqsy-daomapper/
logs-web/
document/_book/
/yqsy-business-parent/atlassian-ide-plugin.xml
